
hmtl
    head
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    body   
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href='#').h1 DevText  
        block content
